body {
    background: linear-gradient(#D4ADFC, #0C134F);
    min-height: 100vh;
    padding: 4rem;
    font-size: 2rem;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main {
    width: 100%;
    display: flex;
    padding: 4rem;
    gap: 2rem;
    justify-content: center;
    background: linear-gradient(#260943, #6f7adf);
    border-radius: 5rem;
    flex-wrap: wrap;
}